# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=postgres://postgres:root@localhost:5432/klickbee-cms
ADMIN_GENERATED_KEY=admin
NEXT_PUBLIC_GOOGLE_FONT_API_KEY=your-google-font-api-key

# The following variables are used for the BetterAuth integration.
# You can generate a new secret key directly from the BetterAuth doc : https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=my-secret-key
BETTER_AUTH_URL=http://localhost:3000
NODE_ENV=development